[submodule "contabil-ms"]
	path = contabil-ms
	url = git@github.com:PilaresTech/contabil-ms.git
[submodule "ms-message"]
	path = ms-message
	url = git@github.com:PilaresTech/ms-message.git
[submodule "ms-payments"]
	path = ms-payments
	url = git@github.com:PilaresTech/ms-payments.git
[submodule "contabil-front"]
	path = contabil-front
	url = git@github.com:PilaresTech/contabil-front.git
